
.mainSection {
    display: flex;
    flex:auto;
    flex-direction: column;
  }

  .mainContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .postSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  .postSection p {
    align-content: center;
    width: 50%;
    text-align: right;
  }

  .postSection h2 {
    align-content: center;
    width: 50%;
    text-align: left;
  }

  .mainImg {
    border: 1px black solid;
  }

  .mainImg img {
    border: 1px black solid;
    max-width: 1250px;
    height: auto;
  }

  .imagePointer {
    height: 5px;
    width: 5px;
    border: 5px black solid;
  }

  .dropDownSelect {
    display: block;
    position: absolute;
  }

  .dropDown {
    width: 100px;
    height: fit-content;
    border: 1px black solid;
    background-color: white;
  }

  ul {
  list-style-type: none;
  text-align: left;
  padding: 2px;
  margin: 0;
  }

  .figures {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .figure {
    display: flex;
    flex-flow: column;
    border: 1px black solid;
  }

  .figure img {
    height: 90px;
    width: auto;
    margin: 5px;
  }

  .figureLocation {
    border: 1px black solid;
    position: absolute;
    width: 20px;
    height: 40px;
  }